<form [formGroup]="calculateForm" (ngSubmit)="calculate()">
    <div class="row">
        <input type="radio" id="radioNetValue" formControlName="radioInputData" value="net" (onclick)="disable()">
        <label for="radioNetValue">Net Value:</label><br>
        <input type="text" [(ngModel)]="purchaseDataDto.netValue" formControlName="netValue">
    </div>

    <div class="row">
        <input type="radio" id="radioGrossValue" formControlName="radioInputData" value="gross" (onclick)="disable()">
        <label for="radioGrossValue">Gross Value:</label>
        <input type="text" formControlName="grossValue" [(ngModel)]="purchaseDataDto.grossValue">
    </div>

    <div class="row">
        <input type="radio" id="radioVatValue" formControlName="radioInputData" value="vat" (onclick)="disable()">
        <label for="radioVatValue">VAT Value:</label>
        <input type="text" formControlName="vatValue" [(ngModel)]="purchaseDataDto.vatValue">
    </div>

    <div class="row">
        <label>VAT Rate:</label><br>
        <input type="text" formControlName="vatRate" [(ngModel)]="purchaseDataDto.vatRate">
    </div>

    <button type="submit">Submit</button>

    <p>{{ errorMessage }}</p>
</form>