<form [formGroup]="calculateForm" (ngSubmit)="calculate()">
    <label>Net Value:</label><br>
    <input type="text" [(ngModel)]="purchaseDataDto.netValue" formControlName = "netValue"><br>

    <label>Gross Value:</label><br>
    <input type="text" [(ngModel)]="purchaseDataDto.grossValue" formControlName = "grossValue"><br>

    <label>VAT Value:</label><br>
    <input type="text" name="vatValue" [(ngModel)]="purchaseDataDto.vatValue" formControlName="vatValue"><br>

    <label>VAT Rate:</label><br>
    <input type="text" name="vatRate" [(ngModel)]="purchaseDataDto.vatRate" formControlName="vatRate"><br>

    <button type="submit">Submit</button>

    <p>{{ errorMessage }}</p>
</form>